name: deploy-website

# Only run this when the main branch changes
on:
  workflow_dispatch:
  push:
    branches:
    - main
  schedule:
    - cron: '25 11 * * 1'
    - cron: '25 11 * * 6'

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Quarto
      uses: quarto-dev/quarto-actions/setup@v2

    - name: Install uv
      uses: astral-sh/setup-uv@v6

    # GitHub caches Python versions with the runner thus likely faster than uv
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version-file: pyproject.toml

    - name: Install R
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: renv

    - name: Install R dependencies
      uses: r-lib/actions/setup-renv@v2

    - name: Install Python dependencies and render Quarto
      run: uv run quarto render

    - name: Publish Quarto project
      uses: quarto-dev/quarto-actions/publish@v2
      with:
        render: false
        target: gh-pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
